/*Nettoyage de la page*/
*,
*::before,
*::after 
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html 
{
  font-size: 62.5%;
}

body 
{
  box-sizing: border-box;
  font-size: 1.6rem;
}

html
{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3
{
    width: 100%;
}

.black_bg
{
    background: black;
}

.scrolltop
{
    display: block;
    margin: auto;
    padding: 20px;
}
.scrolltop:hover{
    background-color: rgba(55, 109, 224, 0.5);
    border-radius: 50px;
}

/***********HEADER*******************/

h1 
{
    text-align: center;
    color: black;
    padding:45px;
}
.cha
{
    font-size: 5vw;
    color: white;
    font-variant-caps: all-small-caps;
    background-image: url(img/super-triangle3_green.png);
    background-size: 1800px;
    padding: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.ent{
    font-size: 5vw;
    color: white;
    font-variant-caps: all-small-caps;
    background-image: url(img/super-triangle3_purple.png);
    background-size: 1800px;
    padding: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
} 
.ass{
    font-size: 5vw;
    color: white;
    font-variant-caps: all-small-caps;
    background-image: url(img/super-triangle3_red.png);
    background-size: 1800px;
    padding: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.temp
{
    font-size: 5vw;
    color: white;
    font-variant-caps: all-small-caps;
    background-image: url(img/super-triangle3_orange.png);
    background-size: 1800px;
    padding: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;

}
.acc
{
    font-size: 5vw;
    color: white;

}
.fixe
{
    position: sticky;
    top:0px;
    z-index: 1;
}

.header_logos
{
    padding-top: 2vh;
}


/***************menu*******************/
.menu
{
    position: absolute;
    top: 1.5vh;
    left: 22.7vw;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    z-index: 1;
}

.butn:hover
{
    font-size: 1.2em;
    text-decoration: none;
    color: whitesmoke;
}

.butn
{
padding-left:5vw;
padding-right: 5vw;
transition-property: font-size;
transition-duration: 0.4s;    
}
.collapse
{
    font-size:25px;
}
#navbarDropdownMenuLink{
    color:white;
}
.orange
{
    background-color: rgb(255, 172, 89);
}
.blue
{
    background-color: rgb(136, 217, 226);
}
.green
{
    background-color: rgb(41, 230, 119);
}
.purple
{
    background-color:rgb(221, 80, 231);
}
.red
{
    background-color: rgb(255, 112, 112);
}
.accueil 
{
    color: white;
    margin-left: -10px;
    text-align: center;
    background-color: rgb(98, 216, 230);
}

.aci 
{
    color: white;
    background-color:rgb(22, 214, 102);
    margin-left: -10px;
    text-align: center;
}

.ai {
    color: white;
    margin-left: -10px;
    text-align: center;
    background-color:rgb(255, 87, 87);

}

.ei 
{
    color: white;
    margin-left: -10px;
    text-align: center;
    background-color:rgb(210, 48, 221);
}

.etti 
{
    color: white;
    margin-left: -10px;
    text-align: center;
    background-color:  rgb(255, 161, 66);
}

.question
{
    color: white;
    font-weight: bold;
    margin-right: 2.5vw;
    transition-property: color;
    transition-duration: 0.4s;    
}

.question:hover
{
    color: rgba(0, 0, 0, 0.541);
}

/*************texte**********/

main
{
    margin-top: -2vh;
}
h5
{
    text-align: center;
}
.image
{
    margin-left: 24vw;
    width: 30%;
}
.card
{
    margin-top: 3vh;
}
/***********image**************/
.logo
{
    width: 90%;
}
.imag
{
    width: 60%;
}
/***************FOOTER*******/
footer 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

footer a 
{
    color: white;
}

footer a:hover
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.541);
}

.car 
{
    width: 22%;
}


/***************responsive menu*********************/
@media screen and (min-width: 768px){
    .menu{
       top:1vh;
       left:85px;
    }
    .butn{
        width: 145px;
    }
}
@media screen and (min-width: 1000px){

    .menu{
        left:0.7vw;
        top:5vh;
    }
    .butn{
        height: 49px;
        padding-top: 10px;
    }

}

@media screen and (min-width: 1200px){
    .menu { 
        position: absolute;
        top: 0vh;
        left: 0vw;
         display: flex;
         flex-direction: row;
         font-size: 2rem;
        z-index: 1;
     }

     #navbarNavDropdown
     {
         margin-top: 10vh;
     }

     .butn{
         padding-top: 1px;
         width: 280px;
    }

    .fixe{
        top: 0px;
    }
}


/************AFFINEMENT DU STYLE************/

.presentation
{
    background-image: url(img/super-triangle3.png);
    background-size: 1800px;
    padding: 50px;
    text-align: center;
}
#presentation{
    padding-top: 110px;
}
.presentation__title
{
    color: white;
    font-size: 5vw;
    margin-bottom: 20px;
}

.presentation__subtitle
{
    color: rgb(40, 72, 87);
    font-weight: normal;
    font-size: 2.7vw;
}

/*placement des sections pour toutes les pages*/
section
{
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding-top: 10vh;
    background: white;
}

/*dégradé de fond de page*/
.home_background
{
    background: linear-gradient(90deg, rgb(102, 133, 136) 0%, rgb(183, 211, 209) 100%);
}

/*****ACCUEIL*****/

/*Définition générale des titres*/

.presentation__title
{
    color: white;
    margin-bottom: 20px;    
    font-size: 4vw;
}

h2, h3
{
    color: rgb(40, 72, 87);
    font-weight: normal;
}

h2
{
    font-size: 4rem;
}

h3
{
    background: linear-gradient(90deg, rgba(145,220,228,1) 0%, rgba(201,247,252,1) 23%, rgba(255,255,255,1) 100%);
    padding: 2%;
}

.accueil-h3
{
    font-size : 3rem;
}

.definition__title
{
    background: rgb(145,220,228);
    background: linear-gradient(90deg, rgba(145,220,228,1) 0%, rgba(201,247,252,1) 23%, rgba(255,255,255,1) 100%);
    padding: 10px;
}

.iae__title, .people__title
{
    font-size: 2.7rem;
    padding:20px;
    background: rgb(145,220,228);
    background: linear-gradient(90deg, rgba(145,220,228,1) 0%, rgba(201,247,252,1) 23%, rgba(255,255,255,1) 100%);
}



/*Elaboration générale des paragraphes*/
p
{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 30px;
    font-size: 1.8rem;
}

/*Elaboration du paragraphe de définition des IAE*/

.definition__paragraph
{
    text-align: justify;
    width: 70%;
}

.secondary
{
    border-left: 2px solid white;
    padding-left: 5%;
    margin-top: 6%;
    margin-bottom: 4%;
}

.main
{
    font-size: 2rem;
    margin-left: 10vw;
    margin-top: 10vh;
    border-left: 2px solid rgb(40, 72, 87);
    padding-left: 2vw;
    color: rgb(40, 72, 87);
    line-height: 7vh;
}

.emphasis
{
    font-size: 4rem;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 30px; 
    line-height: 10vh;
    font-weight: bold;
}

.light_emphasis
{
    font-size: 2.5rem;
    width: 45vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 20px; 
    margin-left: 12.5vw;
    line-height: 5vh;
    font-weight: bold;
} 

/*Mise en forme des 4 blocs de définition générale du PLIE*/

.plie_actions
{
    background-color: rgb(0, 85, 124);
}

.card
{
    margin-top: 20px; 
    padding-left: 3vw;
    border: 1px solid rgb(173, 199, 199);
    box-shadow: 5px 5px 5px 5px rgb(226, 226, 226);
    background-image: url(img/super-triangle3.png);
    background-size: cover; 
}


.card li /* mise en forme liste de carte n°3*/
{
    list-style-type: none;
    min-width: 20vw;
    margin: 2vw;
    padding: 20px;
    background-color: rgba(105, 139, 149, 0.431);
    color: white;
    font-weight: bold;
    font-size: 1.5rem; 
}

.definition__paragraph
{
    text-align: justify;
    width: 70%;
}

/*Mise en forme des adresses*/

.adress
{
    font-weight: bold;
    font-size: 1.4em; 
    width: 80%;
    color: rgb(64, 93, 93);
    margin: auto;
    margin-top: 15vh;
    border-top: 2px solid rgb(40, 72, 87);
    padding-top: 7vh; 
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.adress ul li strong
{
    font-weight: bold;
}

.adress li
{
    list-style-type: none;
}


/*Elaboration du paragraphe de la section "accurate"*/

.iae, .people
{
    margin-top: 10vh;
}


.iae__concept, .people__target
{
    padding: 8%;
    color: white;
    font-weight: bold;
}

.iae__concept
{
    background-image: url(img/worker.jpg);  
    background-size: cover;
    height: 65vh;
}

.iae__concept p
{
    background-color: rgba(66, 66, 66, 0.431);
    width: 100%;
    margin-right: 0vw;
    padding: 1%;
    font-size: 1.2em;
    text-align: left; 
    padding: 2%;
}

.people__target
{
    background-image: url(img/worker2.jpg);  
    background-size: cover;
    height: 85vh;
}

.people__target p
{
    background-color:rgba(66, 66, 66, 0.431);
    width: 100%;
    margin-left: 0vw;
    padding: 1%;
    font-size: 1.2rem;
    text-align: left; 
    padding: 2%;

}
.structures__paragraph
{
    width: 50vw;
    margin-left: 14vw;
    margin-bottom: 5%;
}

/*Mise en place de la liste des structures*/


.structures__list > li
{
    list-style-type: none;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 5vh;
    padding: 2%;
    color: white;
}

.ai_structure 
{
    margin-left: 10vw;
    background: rgb(255,65,65);
    background: linear-gradient(90deg, rgba(255,65,65,1) 0%, rgba(255,84,84,1) 27%, rgba(255,253,253,1) 100%);

}

.aci_structure 
{
    margin-left: 15vw;
    background: rgb(12,190,85);
    background: linear-gradient(90deg, rgba(12,190,85,1) 0%, rgba(1,194,80,1) 35%, rgba(255,253,253,1) 100%);
}

.ei_structure 
{
    margin-left: 20vw;
    background: rgb(182,1,195);
    background: linear-gradient(90deg, rgba(182,1,195,1) 0%, rgba(244,88,255,1) 39%, rgba(255,253,253,1) 100%);
}

.etti_structure 
{
    margin-left: 25vw;
    background: rgb(255,157,61);
    background: linear-gradient(90deg, rgba(255,157,61,1) 0%, rgba(255,213,108,1) 82%, rgba(255,253,253,1) 100%);
}

/*Positionnement carte des SIAE*/
.localisation__img
{
    display: block;
    margin: auto;
    width: 60vw;
    margin-top: 10vh;
} 

/*Placement de l'article sur la localisation des SIAE*/
.localisation
{
    margin-top: 20vh;
}

/*Mise en place de la légende de la carte*/
.card_legend
{
    color: white;
    font-weight: bold; 
    margin-top: 10vh;
}

.legend
{
    padding: 0.5%;
    list-style-type: none;
    margin-left: 50vw;
}

/*Définition de la liste*/ 

.juri_list
{
    font-size: 1.8rem;
    line-height: 8vh;
    background: url(img/super-triangle3.png);
    padding: 3%;
}


.juri p
{
    padding: 3%;
}

.lg_unemployed
{
    margin-left: 10vw;
}

.poor_people
{
    margin-left: 18vw;

}

.young_people
{
    margin-left: 26vw;

}

.old_people
{
    margin-left: 34vw;
}

.handi_people
{
    margin-left: 42vw;
}

/*Mise en forme du tableau de cadre juridique*/
table
{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5%;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

th, td
{
    padding: 20px;
    border: 1px rgba(255, 255, 255, 0.37) solid;
}

.blue_cell
{
    background: rgb(145,220,228); 
}

.red_cell
{
    background: rgb(255,65,65); 
}

.green_cell
{
    background: rgb(12,190,85); 
}

.purple_cell
{
    background: rgb(182,1,195); 
}

.orange_cell
{
    background: rgb(255,157,61); 
}


.ai_cell
{
    background: rgb(255, 114, 114);
}

.aci_cell
{
    background: rgb(40, 206, 109);
}

.ei_cell
{
    background: rgb(246, 118, 255);
}

.etti_cell
{
    background: rgba(255,213,108,1);
}

table
{
    margin-bottom: 5%;
}

/*Elaboration du footer*/

footer
{
    background-color: rgb(127, 189, 189);
    padding: 5vh;
    text-align: center;
    color: white;
}

footer > p
{
    width: 70vw;
    padding-top: 4vh;
    font-weight: bold;
    font-size: 1.7rem;
}



@media screen and (min-width: 1000px)
{
/*Réorganisation des 4 blocs de définition générale du PLIE*/
.right_position
{
    margin-right: 0vw;
}

.right_position
{
    margin-left: 0vw;
}
/*Application de marges sur les sections*/
section
{
    margin-left: 7vw;
    margin-right: 7vw;
}

/*Positionnement des encarts de descriptions des illustrations*/
.iae__concept p, .people__target p
{
    width: 40vw;
}

/*****LES 4 PAGES ANNEXES*****/

/*Couleurs de fond de page*/
.ai_background
{
    background: linear-gradient(90deg, rgb(131, 84, 84) 0%, rgb(211, 183, 183) 100%);
}

.aci_background
{
    background: linear-gradient(90deg, rgb(102, 136, 102) 0%, rgb(183, 211, 190) 100%);
}

.ei_background
{
    background: linear-gradient(90deg, rgb(126, 102, 136) 0%, rgb(204, 183, 211) 100%);
}

.etti_background
{
    background: linear-gradient(90deg, rgb(136, 120, 102) 0%, rgb(211, 201, 183) 100%);
}

/*Mise en forme des titres*/
.centered_title-red, .centered_title-green, .centered_title-purple, .centered_title-orange
{
    color: white;
    font-size: 4em;
    text-align: center;
    padding: 2%;
}

.ai-siae_title, .aci-siae_title, .ei-siae_title, .etti-siae_title
{
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 1%;
    margin-bottom: 10vh;
}

/*Fond des titres*/
.centered_title-red, .ai-siae_title
{
    background: linear-gradient(90deg, rgba(255,65,65,1) 0%, rgba(255,84,84,1) 27%, rgba(255,253,253,1) 100%);
}

.centered_title-green, .aci-siae_title
{
    background: linear-gradient(90deg, rgba(12,190,85,1) 0%, rgba(1,194,80,1) 35%, rgba(255,253,253,1) 100%);
}

.centered_title-purple, .ei-siae_title
{
    background: linear-gradient(90deg, rgba(182,1,195,1) 0%, rgba(244,88,255,1) 39%, rgba(255,253,253,1) 100%);
}

.centered_title-orange, .etti-siae_title
{
    background: linear-gradient(90deg, rgba(255,157,61,1) 0%, rgba(255,213,108,1) 82%, rgba(255,253,253,1) 100%);
}


/*Mise en forme des articles de présentation des siae*/
.ai_presentation, .aci_presentation, .ei_presentation, .etti_presentation
{
    font-size: 1.5rem;
    line-height: 6vh;
}

.ai_presentation 
{
    background: url(img/super-triangle3_red.png);
    background-size: cover;
}

.aci_presentation 
{
    background: url(img/super-triangle3_green.png);
    background-size: cover;
}

.ei_presentation 
{
    background: url(img/super-triangle3_purple.png);
    background-size: cover;
}

.etti_presentation
{
    background: url(img/super-triangle3_orange.png);
    background-size: cover;
}

.siae dl
{
    background: rgba(255, 237, 225, 0.637);
    width: 75vw;
    margin: 0%;
}

.ai_presentation dt
{
    background: rgba(255,65,65,1);
    color: white;
    margin-right: 3vw;
}

.aci_presentation dt
{
    background: rgba(12,190,85,1);
    color: white;
    margin-right: 3vw;
}

.ei_presentation dt
{
    background: rgba(182,1,195,1);
    color: white;
    margin-right: 3vw;
}

.etti_presentation dt
{
    background:rgba(255,157,61,1);
    color: white;
    margin-right: 3vw;
}

.ai_presentation dd
{
    border-left: 2px solid white; 
    color:rgb(77, 15, 15);
    margin-right: 3vw;
    padding: 4%;
}

.aci_presentation dd
{
    border-left: 2px solid white;
    color:  rgb(3, 70, 31);
    margin-right: 3vw;
    padding: 4%;
}

.ei_presentation dd
{
    border-left: 2px solid white;
    color: rgb(49, 0, 53);
    margin-right: 3vw;
    padding: 4%;
}

.etti_presentation dd
{
    border-left: 2px solid white;
    color:  rgb(87, 52, 17);
    margin-right: 3vw;
    padding: 4%;
}



/*Mise en forme des listes de définition*/
dl
{
    padding: 5%;
    margin: 2%;
    font-size: 1.5rem;
}

dt
{
    font-variant: small-caps;
}

dd, dt
{
    padding-top: 1%;
}

/*Mise en forme des repertoires*/
.ai_repertory, .aci_repertory, .ei_repertory, .etti_repertory 
{
    font-size: 1.2em;
    padding-top: 0%;
}

.ai_repertory dl
{
    width: 75vw;
    margin: 0px;
}
.aci_repertory dl 
{
    width: 75vw;
    margin: 0px;
}
.ei_repertory dl
{
    width: 75vw;
    margin: 0px;
}
.etti_repertory dl
{
    width: 75vw;
    margin: 0px;
}

.imago
{
    margin: 0px;
}


/*Définition des paragraphes descriptifs des SIAE*/
.ai_para, .aci_para
{
    text-align: center;
    font-weight: bold;
}

.ai_para
{
    color: rgb(122, 1, 1);
}

.aci_para
{
    color: rgb(0, 87, 0);
}

/*Définition des footers*/

.ai_footer
{
    background: rgba(255,65,65,1);
}

.aci_footer
{
    background: rgba(12,190,85,1);
}

.ei_footer
{
    background: rgba(182,1,195,1);
}

.etti_footer
{
    background: rgba(255,157,61,1);
}

/*Style des liens mail des répertoires*/

.ai_repertory a
{
    color: rgba(255,65,65,1);
}

.aci_repertory a
{
    color: rgba(12,190,85,1);
}

.ei_repertory a
{
    color: rgba(182,1,195,1);
}

.etti_repertory a
{
    color: rgba(255,157,61,1);
}

.ai_repertory a:hover
{
    color: rgb(136, 32, 32);
}

.aci_repertory a:hover
{
    color:  rgb(8, 119, 52);
}

.ei_repertory a:hover
{
    color: rgb(94, 7, 100);
}

.etti_repertory a:hover
{
    color:  rgb(144, 89, 33);  
}
}